name: Build and Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:


env:
  FLUTTER_VERSION: '3.35.7'

jobs:
  build-web:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: ${{ env.FLUTTER_VERSION }}
        cache: true

    - name: Install dependencies
      run: flutter pub get

    - name: Build Web
      run: flutter build web --release --base-href /poliglotim-app/

    - name: Create archive
      run: |
        cd build/web
        zip -r poliglotim-app.zip .

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: poliglotim-web-app
        path: build/web/poliglotim-app.zip
        retention-days: 30

  release:
    runs-on: ubuntu-latest
    needs: build-web
    
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: poliglotim-web-app

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: poliglotim-app.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        